body.green {
    background-color: rgb(0, 255, 0);
}

.items {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: white;
    font-weight: bold;
    font-size: 26px;
}

.break-time {
    width: 100%;
    font-size: 32px;
    margin: auto;
    text-align: center;
}