<body class="green">
  <div class="items">
    <div id="current_task" class="current-task">Current task: <%= @items[:current_task] %></div>

    <div id="break_time" class="break-time">
      <%= @items[:break_time] || '' %>
      <% if @items[:break_time] %> <span id="break-time-min">x</span> minute(s)<% end %>
    </div>

    <div class="afk"><%= @items[:afk] || '' %></div>
  </div>
</body>